<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-battery-status-ondemand"
        version="0.3.0">

    <name>Battery level</name>

    <description>Cordova plugin to get battery level on demand</description>
    <repo>https://github.com/angel1st/cordova-plugin-battery-level.git</repo>
    <keywords>battery, status, level, once, on-demand, right away, ios</keywords>
    <license>Apache 2.0</license>

    <author>Angel Todorov</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/batteryStatus.js" name="BatteryStatus">
        <clobbers target="cordova.plugins.battery" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BatteryStatus">
                <param name="ios-package" value="CDVBatteryStatus"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVBatteryStatus.h" />
        <source-file src="src/ios/CDVBatteryStatus.m" />
    </platform>

	<platform name="android">      
		<!-- register plugin -->      
		<config-file parent="/*" target="res/xml/config.xml">        
			<feature name="BatteryStatus">       
				<param name="android-package" value="net.sensortronic.cordova.plugin.BatteryStatus"/>    
			</feature>                
		</config-file> 
		
		<!-- add plugin source code -->      
		<source-file src="src/android/BatteryStatus.java" target-dir="src/net/sensortronic/cordova/plugin"/>
	</platform>
</plugin>
